# ~/requirements.txt

pdfkit==1.0.0
pypdf==5.4.0
# PyPDF2==3.0.1
selenium==4.32.0 # pinned == 4.9.1 # selenium 4.15.2 fails with: ImportError: cannot import name 'DEFAULT_EXECUTABLE_PATH' from 'selenium.webdriver.chrome.service'

# cspell:ignore pdfkit, pypdf
